@import "tailwindcss";

@theme {
  --color-red: #FC4747;
  --color-darkestBlue: #10141E;
  --color-grey: #5A698F;
  --color-midnightBlue: #161D2F;
  --color-white: #FFFFFF;
}

@utility filter-black {
  filter: invert(0%) sepia(97%) saturate(4%) hue-rotate(125deg) brightness(90%) contrast(99%);
}